header {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

nav a {
  font-size: 18px;
  text-decoration:none;
  color: #1C1C1C;
  border-radius:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 25px;
  padding:5px 10px 5px 10px;
}

.premium {
  background-color: #9DDCFF;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 200;
}
